.newTodoPanel-container {
  width: 100%;
  background-color: var(--dark-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*display flex*/
  gap: 10px;
  padding: 20px;
}
.newTodoPanel-container form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*display flex*/
}
.newTodoPanel-container label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  /*display flex*/
  padding: 10px;
  text-transform: uppercase;
  color: var(--cool-color);
}
.newTodoPanel-container label input[type="text"],
.newTodoPanel-container label textarea {
  width: 80%;
  padding: 10px;
  background-color: var(--dark-bg);
  resize: none;
  border: 1px solid var(--light-bg);
  border-radius: 5px;
  color: var(--warn-color);
}
.newTodoPanel-container input[type="submit"] {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--cool-color);
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
