:root{
    --primaryColor : #1f1c24;
    --secondaryColor : #0f0d11;
    --violetColor : #ab62ff;
    --pinkColor : #eab9fd;
}
.app-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*display flex*/
    background-color: var(--primaryColor);
    gap: 20px;
}
.app-title{
    color: var(--violetColor);
}
.todo-app-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*display flex*/
    gap: 10px;
}
.todo-app-display{
    width: 600px;
    height: 600px;
    background-color: var(--secondaryColor);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /*display flex*/
    gap: 5px;
    overflow-y: auto;
    box-shadow: inset 0px 0px 5px 2px black;
}
.todo-app-display li{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    /*display flex*/
    background-color: var(--primaryColor);
    padding: 10px;
    border-radius: 5px;
    color: var(--pinkColor);
}
.todo-app-display li p{
    width: 82%;
    border-right: 1px solid var(--violetColor);
    padding: 0 5px;
}
.todo-item-options{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /*display flex*/
    gap: 5px;
}
.todo-item-options button{
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    line-height: 10px;
    cursor: pointer;
    background-color: var(--secondaryColor);
    color: var(--violetColor);
}
.todo-item-options button:hover{
    color: var(--pinkColor);

}
.create-todo-panel{
    width: 100%;
    position: relative;
}
.create-todo-panel input{
    width: 100%;
    padding: 10px 60PX 10PX 10PX;
    border-radius: 5px;
    background-color: var(--secondaryColor);
    border: 1px solid transparent;
    color: var(--pinkColor);
    font-size: 1.2rem;
}
.create-todo-panel input:focus{
    outline: transparent;
}
.create-todo-panel button{
    position: absolute;
    right:5px;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px 10px;
    border: 1px solid transparent;
    background-color: transparent;
    color: var(--pinkColor);
    cursor: pointer;
    text-transform: uppercase;
    border-left-color: var(--violetColor);
}
