:root {
  --primary-bg: #292d3e;
  --secondary-bg: #31364a;
  --primary-border: #77808b;
  --purple-col: #c792ea;
  --warn-col: #f29b3c;
  --cold-col: #89ddf3;
  --coldest-col: #209fe0;
  --danger-col: #ff454f;
}
@font-face {
  font-family: bold-titles;
  src: url(../../public/fonts/RobotoSlab-Black.ttf);
}
@font-face {
  font-family: regular-titles;
  src: url(../../public/fonts/RobotoSlab-Regular.ttf);
}
@font-face {
  font-family: light-pars;
  src: url(../../public/fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: regular-pars;
  src: url(../../public/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: normal-button;
  src: url(../../public/fonts/Ubuntu-Bold.ttf);
}
@font-face {
  font-family: regular-button;
  src: url(../../public/fonts/Ubuntu-Light.ttf);
}

.app-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /*display flex*/
}

.app {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /*display flex*/
  border: 1px solid var(--primary-border);
  position: relative;
}

.app-title {
  position: absolute;
  width: 200px;
  text-align: center;
  padding-top: 0 10px;
  top: -45px;
  left: -1px;
  border: 1px solid var(--primary-border);
  text-transform: uppercase;
  font-family: bold-titles;
  border-radius: 0px 30px 0px 0px;
  color: var(--purple-col);
  border-bottom-color: transparent;
}
