.new-task-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*display flex*/
  gap: 10px;
}
.new-task-form :is(input[type="text"], textarea) {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  resize: none;
}
.new-task-form :is(input[type="text"], textarea)::placeholder {
  text-transform: capitalize;
}
.new-task-form input[type="submit"] {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 2px;
}
