.todos-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  /*display flex*/
  list-style-type: none;
  gap: 10px;
  background-color: var(--dark-bg);
  padding: 10px;
  border-radius: 5px;
}
.todos-list li {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  /*display flex*/
}
.todo-texts {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  /*display flex*/
  gap: 10px;
  border-right: 1px solid var(--warn-color);
}
.todo-texts h1 {
  color: var(--cool-color);
  text-transform: uppercase;
}
.todo-texts p {
  color: var(--light-bg);
  font-weight: 600;
}
.todo-option-btns {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /*display flex*/
  gap: 10px;
}
.todo-option-btns button {
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  /* border: 1px solid var(--warn-color); */
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /*display flex*/
  color: var(--warn-color);
  font-size: 30px;
}
